.custom-select {
  position: relative;
  min-width: 70px;
  width: 100%;

  .search-bar {
    position: relative;
    max-width: 94%;
    margin: 0.6125rem auto;

    .search-wrap {
      max-width: 100%;

      .span-group {
        width: 40px;
      }
    }
  }

  p {
    display: inline-block;
    width: 100%;
    position: relative;

    &.selected-item {
      border: 1px solid $border-color;
      height: 2.2rem;
      line-height: 2.2rem;
      padding: 0 2rem 0 1rem;
      font-weight: 500;
      @include radius(10px);
      position: relative;
      cursor: pointer;
      color: $gray-200;
      background-color: $white-color;
      @include line-clamp(1);
      min-width: 120px;

      &.is-bg {
        background-color: $secondary-color;
        color: $white-color;
        @include radius(24px);
        line-height: auto;
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;

        &::after {
          text-transform: initial;
          top: 50%;
          @include transform(translateY(-50%));
          color: $white-color;
        }
      }

      i {
        margin-right: .5rem;
        font-size: 1rem;
      }

      &::after {
        position: absolute;
        right: .5rem;
        top: 0;
        font-size: 1.3rem;
        z-index: 99;
        content: "arrow_drop_down";
        font-family: "Material Icons";
        font-size: 1.3rem;
        color: $body-color;
      }
    }
  }

  .select-list {
    min-width: 120px;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1012;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: $white-color;
    @include box-shadow(0 5px 15px rgba(0, 0, 0, 0.15));
    max-height: 300px;
    display: block;
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(10px));
    @include transition (.5s ease);

    @include radius(5px);

    &::-webkit-scrollbar {
      width: 4px;
      background: $border-color;
      @include radius(4px);
    }

    &::-webkit-scrollbar-track {
      background-color: $border-color;
      @include radius(4px);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(4px);
      background: $grey-color;
    }

    li {
      padding: .35rem 0.6125rem;
      @include display-flex(flex);
      @include justify-content-start;
      @include align-items-center;
      cursor: pointer;
      @include transition(all 0.3s linear);
      border-bottom: 1px solid $border-color;
      font-weight: 500;
color: $heading-color;

      label,
      span {
        font-size: $font-size-small;
      }

      i {
        font-size: 1.2rem;
        max-width: 18px;
        @include flex(0 0 24px);
        max-width: 24px;
        line-height: 1;
      }

      img {
        max-width: 14px;
      }

      &:hover {
        background-color: $secondary-light;
      }
    }

    &.right-select {
      right: 0;
    }

    &.left-select {
      left: 0;
    }
  }

  &.is-bg {
    p {
      &.selected-item {
        border-color: $secondary-light;
        background-color: $secondary-light;
      }
    }
  }

  &.is-sort {
    p {

      &.selected-item {
        border: none;
      }
    }
  }

  &.is-inline {
    display: inline-block;
    width: auto;
  }

  &.show-select {
    p {
      &.selected-item {
        border-color: $secondary-light;
        color: $primary-color;
        background-color: $secondary-light;

        &::after {
          content: "arrow_drop_up";
          font-family: "Material Icons";

        }
      }
    }

    .select-list {
      display: block;
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
    }
  }

  &.is-disable {
    p {
      &.selected-item {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

}

.select-add-icon {
  i {
    font-size: $font-size-h4;
    cursor: pointer;
  }

  &.is-right {
    margin-left: .5rem;
  }

  &.is-left {
    margin-right: .5rem;
  }
}

// .custom-select {
//   display: inline-block;
//   width: 100%;
//   height: calc(1.5em + .75rem + 2px);
//   padding: .375rem 1.75rem .375rem .75rem;
//   font-weight: 400;
//   line-height: 1.5;
//   vertical-align: middle;
//   @include user-select(none);
//   border: 1px solid $border-color;
//   border-radius: .25rem;
//   background: $white-color url("data:image/svg+xml,%3csvg xmlns='http: //www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e ") no-repeat right .75rem center/8px 10px;
// }