.custom-tab {

    .custom-tab-content {
        padding: .6125rem;

        .tab-item {
            display: none;

            &.is-active {
                display: block;
            }
        }
    }
}

.tab-list {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-center;
    @include flex-wrap(wrap);
    margin: 0;

    li {

        a {
            display: block;
            text-transform: capitalize;
            padding: .5rem 1rem;
            color: $body-color;
            font-weight: 600;
            position: relative;
            @include transition(all .5s linear);
            border: 1px solid transparent;
            color: $body-light;
            cursor: pointer;
            font-size: $font-size-small;

            span {
                &.counter {
                    padding: 0 6px;
                    @include radius(50%);
                    background-color: $secondary-thin-light;
                    color: $white-color;
                    font-weight: 500;
                    margin-left: .5rem;
                }


            }

            .is-icon {
                margin-right: .6125rem;
                vertical-align: middle;
            }


        }

        &:not(:last-child) {
            margin-right: .6125rem;

            @media #{$breakpoint-desktop} {
                margin-right: .5rem;
            }
        }

    }

    &.is-bg {
        li {
            a {
                background-color: $white-color;

                &.is-active,
                &:hover {
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }
    }

    &.is-light {
        li {
            a {
                background-color: transparent;

                &.is-active,
                &:hover {
                    color: $secondary-color;
                    background-color: $secondary-light;
                }
            }
        }
    }

    &.is-border {
        li {
            a {
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: $secondary-color;
                    @include transition(width .3s linear);
                    opacity: 0;
                    visibility: hidden;
                }
            }


            a {
                &.is-active {
                    color: $secondary-color;

                    &::after {
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }

            }

            &:hover {
                a {
                    color: $heading-color;
                }
            }
        }
    }

    &.is-full-border {

        li {
            @include transition(all .5s ease-in-out);
            border: 1px solid rgba($white-color, .20);
            text-align: center;

            &:not(:last-child) {
                margin-right: 0;
            }

            &:last-child {}

            &:first-child {}

            &:hover,
            &.is-active {
                background-color: $primary-color;
                border-color: $primary-color;
                color: $white-color;
            }
        }

        &.is-3 {
            li {
                @include flex(0 0 33.33333%);
                max-width: 33.33333%;
            }
        }

        &.is-4 {
            li {
                @include flex(0 0 25%);
                max-width: 25%;

            }
        }
    }
}