footer {
    padding: 3rem 0;

    .footer-social {
        svg {
            fill: $primary-color;
        }

        li {
            overflow: hidden;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    .footer-menu {
        margin-top: 1rem;
        @include justify-content-start;

        @media #{$breakpoint-sm} {
            margin-top: 0;
            @include justify-content-end;
        }

        li {
            a {
                color: $heading-color;
                padding: .5rem 1rem;
                text-transform: capitalize;
                @include transition(all .5s ease-in-out);

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .copy-right {
        padding: .5rem 0;

        a {
            &:hover {
                color: $primary-color;
            }
        }
    }
}