@import "./menu";

header {

    &.site-header {
        padding: 1rem;
        position: relative;
        z-index: 2;
        @include transition (all .5s ease-in-out);

        .header-in {
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;

            .site-logo {}

            .header-right {
                @include display-flex(flex);
                @include justify-content-end;
                @include align-items-center;
            }

        }

        .site-logo {
            padding-right: 1.5rem;
        }


        &.is-sticky {
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            top: 0;
            z-index: 1011 !important;
            background-color: $body-light;
        }
    }
}

.is-back {
    font-weight: 500;
    color: $body-light;
    @include flex(0 0 100%);
    max-width: 100%;
    width: 100%;

    i {
        font-size: 1.2rem;
    }

    span {
        margin-left: .5rem;
        font-size: .875rem;
    }
}