.is-animation {
    position: absolute;
    bottom: -100%;
    top: 100%;
    display: block;
    z-index: 1;
    left: 0;
    right: 0;
    @include transition(all .5s ease-in-out);
    @include transform(translateY(50px));
    opacity: 0;
    visibility: hidden;
    display: none;

    &.is-active {
        top: 0;
        bottom: 0;
        opacity: 1;
        visibility: visible;
        display: block;
        @include transform(translateY(0));
    }
}

.program-form {
    min-height: 100vh;
    @include flex-direction-column(column);

    .program-form-wrapper {
        width: 100%;
        padding: 2rem 1rem;

        &.pdf-viewer {
            max-height: calc(100vh - 20vh);

            .pdf-page {
                padding: 1rem;
            }

            strong {
                padding-right: .25rem;


            }

            small {
                font-style: italic;
                color: $body-light;
            }

            .pdf-header {
                .pdf-logo {
                    max-width: 100px;
                }

                h4,
                p,
                h1 {
                    text-transform: capitalize;
                }

                h1 {
                    font-size: $font-size-h2;
                }
            }

            .pdf-section {
                h4 {
                    text-transform: uppercase;
                    font-family: $body-fonts;
                    margin-bottom: 1rem;
                }

                strong {
                    font-weight: 500;
                    text-transform: capitalize;

                    &.is-600 {
                        font-weight: 700;
                        margin-right: .5rem;
                    }
                }

                .is-italic {
                    font-style: italic;
                    font-size: 10px;
                    color: $body-light;
                    margin-top: -15px;
                }
            }

            .naxa-table {
                margin: 0;

                &.is-border {
                    padding: 0;
                    border: none;

                    table {
                        border-collapse: collapse;
                    }

                    th {
                        text-transform: capitalize;
                        font-weight: 600;
                    }

                    td,
                    th {
                        border: 1px solid $border-color;
                        padding: .5rem;
                    }
                }
            }

            .is-border {
                border: 1px solid $border-color;
                padding: 5px;
            }
        }
    }

    .form-header {
        text-align: center;
        margin-bottom: 30px;

        h1 {
            text-transform: capitalize;
            font-size: 2rem;
        }

        p {
            color: $heading-color
        }
    }

    .sub-form-header {
        text-align: left;

        h5 {
            text-transform: capitalize;
        }

        p {
            color: $heading-color;
        }

        span {
            color: $body-light;
            text-transform: capitalize;
            font-weight: 500;
        }
    }

    .form-footer {
        width: 100%;
        position: relative;

        .is-back {
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));
            font-weight: 600;
        }
    }

    .naxa-table {
        .table {
            thead {
                th {
                    border: 0;
                }
            }
        }
    }
}

.tab-list {
    &.is-border {
        &.campaign-tab {
            border-bottom: 1px solid $gray-100;
            margin-bottom: 1rem;

            li {
                a {
                    padding: .5rem .6125rem;
                    border: none;
                }
            }
        }
    }
}

ul {
    &.is-list {
        li {
            a {
                &.download-file {
                    color: $secondary-color;
                    font-weight: 600;

                    i {
                        margin-right: .5rem;
                    }

                    span {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.step-sidebar {
    background-color: $secondary-100;
    padding: 1rem 2rem;
    @include flex(0 0 320px);
    max-width: 320px;
    margin: 3rem 0;



    ul {
        &.is-list {
            position: -webkit-sticky;
            position: sticky;
            top: 0;

            .step-counter {
                margin-right: .6125rem;
                background-color: transparent;
                border: 2px solid $gray-200;
                width: 22px;
                height: 22px;
                @include flex-direction-column(column);
                @include radius(50%);
                font-size: $font-paragraph;

            }

            li {
                padding-left: 0;
                padding-right: 0;


                a {
                    color: $gray-200;
                    font-weight: 600;
                    position: relative;
                    text-transform: capitalize;

                    &::before {
                        position: absolute;
                        left: 0;
                        top: 3px;
                        content: "check";
                        width: 21px;
                        height: 21px;
                        font-family: "Material Icons";
                        opacity: 0;
                        visibility: hidden;
                        @include display-flex(flex);
                        @include justify-content-center;
                        @include flex-direction-column(column);
                        @include align-items-center;
                        background-color: $secondary-color;
                        @include radius(50%);
                        color: $white-color;
                        z-index: 1;
                        text-transform: initial;
                        line-height: 1;
                    }

                    &::after {
                        position: absolute;
                        left: 10px;
                        top: 105%;
                        content: "";
                        width: 2px;
                        height: 14px;
                        background-color: $secondary-color;
                        @include transition(all .5s ease-in-out);
                        opacity: 0;
                        visibility: hidden;

                    }

                }



                &.is-active {
                    background-color: transparent;

                    a {
                        color: $secondary-color;
                        font-family: $heading-fonts;
                        font-weight: 400;
                        font-size: $font-size-h5;

                        .step-counter {
                            border-color: $secondary-color;
                            font-size: $font-paragraph;
                            font-family: $body-fonts;
                            font-weight: 600;
                        }
                    }
                }

                &.is-complete {

                    a {
                        color: $secondary-color;
                        font-family: $heading-fonts;
                        font-weight: 400;
                        font-size: $font-size-h5;

                        .step-counter {
                            opacity: 0;
                            visibility: hidden;
                        }

                        &::before {
                            opacity: 1;
                            visibility: visible;
                            font-size: 1rem;
                        }

                        &::after {
                            opacity: 1;
                            visibility: visible;

                        }
                    }
                }
            }
        }
    }
}