.cors-wrapper {

    .cors-table {
        width: calc(100% - 500px);
        padding-right: 2rem;
        @include transition(all .5s ease-in-out);

        .naxa-table {
            .icons {
                padding-right: 2rem;
            }
        }
    }

    .cors-map {
        @include flex(0 0 500px);
        max-width: 500px;
        min-width: 500px;
        position: relative;
        @include transition(all .5s ease-in-out);
    }

    &.map-expand {
        .cors-table {
            width: calc(100% - 70%);
            padding-right: 2rem;

            .naxa-table {
                .icons {
                    padding-right: 2rem;
                }
            }
        }

        .cors-map {
            @include flex(0 0 70%);
            max-width: 70%;

        }
    }

    .cors-expand {
        position: absolute;
        left: -10px;
        top: 2rem;
        @include flex-direction-column(column);

        span {
            @include flex-direction-column(column);
            width: 24px;
            height: 24px;
            @include radius(5px);
            border: 1px solid $border-color;
            background-color: $white-color;
            cursor: pointer;
            @include transition(all .5s ease-in-out);

            i {
                font-size: 1.2rem;
            }

            &:not(:last-child) {
                margin-bottom: .25rem;
            }

            &:hover {
                background-color: $secondary-light;
                color: $secondary-color;
            }
        }
    }
}