.dashboard-sumarry {
    .summary-card {
        margin-bottom: 1rem;

        .naxa-body {
            background-color: $secondary-100;
            padding: .6125rem;

            h6 {
                font-family: $body-fonts;
                text-transform: capitalize;
                margin-bottom: .5rem;
                font-weight: 500;
            }



            h3 {
                text-transform: capitalize;
                color: $primary-light;
                font-size: $font-size-h4;
            }
        }
    }
}

.campaing-data {
    .card-header {
        padding: 0;
    }

    .naxa-card {
        margin-top: 1rem;


    }


    .campaign-left {
        h4 {
            font-weight: 500;
        }

        b {
            font-weight: 500;
            color: $heading-color;
        }
    }

    .campaign-item {
        padding: 0 .775rem;



        h6,
        h5 {
            text-transform: capitalize;
            font-size: $font-size-h6;
        }

        span {
            text-transform: capitalize;
            font-weight: 500;
        }

        h6 {
            font-family: $body-fonts;
        }


    }
}