.data-management {
    .data-management-sidebar {
        background-color: $secondary-100;
        @include flex(0 0 250px);
        max-width: 250px;
        min-width: 250px;
        border: 1px solid $gray-100;
        @include radius(10px);
        padding: .6125rem;
    }

    .data-management-map {
        width: calc(100% - 250px);
        padding-left: 1rem;

        // .naxa-table {
        //     min-width: 768px;
        // }

    }

    .acc {

        .acc-list {
            .acc-header {
                padding: .25rem 0;

                label {
                    font-size: $font-size-small;
                    color: $heading-color;
                    margin: 0;

                    text-transform: capitalize;
                }
            }

            .acc-body {
                label {
                    color: $body-color;
                    font-weight: 400;
                }

                ul {
                    &.is-list {
                        li {
                            padding: .25rem .5rem;
                        }
                    }
                }
            }
        }

        &.is-after {
            .acc-list {
                .acc-header {
                    &::after {
                        content: "expand_more";
                    }
                }

                &.is-active {
                    .acc-header {
                        &::after {
                            content: "expand_less";
                        }
                    }
                }
            }
        }
    }
}

.request-campaign {
    .data-management {
        width: calc(100% - 400px);
        padding-right: 1rem;
    }

    .request-campaign-map {
        @include flex(0 0 40px);
        max-width: 400px;
        min-width: 400px;
        border: 1px solid $gray-100;
        @include radius(10px);
        padding: .6125rem;


        h5 {
            font-weight: 500;
        }

        .naxa-table {
            max-height: 250px !important;
        }

        .request-map-footer {
            padding: 0 2rem;
            position: relative;

            a {
                &.is-back {
                    flex: 0 0 auto;
                    max-width: auto;
                    width: auto;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }
        }

    }
}

.campaign-management-sidebar {
    .content-list {
        li {
            p {
                font-weight: 500;
                color: $heading-color;
            }
        }
    }

    .legend-list {


        .legend-type {
            position: relative;
            padding-left: 1rem;
            margin-top: .6125rem;
            color: $heading-color;
            text-transform: capitalize;

            &:before {
                content: '';
                width: 8px;
                height: 8px;
                @include radius(50%);
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                left: 0;
            }

            &:not(:last-child) {
                padding-right: 1rem;
            }

            &.is-green {
                &:before {
                    background-color: $green-color;
                }
            }

            &.is-orange {
                &:before {
                    background-color: $orange-color;
                }
            }

            &.is-blue {
                &:before {
                    background-color: $blue-color;
                }
            }
        }

        p {}
    }
}